.backgroundnav {
    background-color: orange;
}

.footer {
    display: block;
    height: 100px;
    background-color: orange;
}

.leftside {
    height: 500px;
    width: 50%;
    background-color: red;
}
.rightside {
    height: 500px;
    width: 50%;
    background-color: blue;
}

.flex {
    display: flex;
}